<html>
  <head>
    <meta charset="UTF-8">
    <title>Movies and Shtuff</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <div id="main" class="container">
      <div class="row centered-horizontal">
        <div class="col-md-12">
          <h1 class='page-header movie-page-header'>Movies</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <div class="input-group input-group-lg">
            <input 
              type="text" 
              class="form-control" 
              placeholder='Search for a movie...' 
              ref='movie' 
              id='movie-input'
            >
            <span class="input-group-btn">
              <button id='submit-search' class="btn btn-primary" type="button">Search</button>
            </span>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="input-group input-group-lg">
            <button id='favorites' class="btn btn-success btn-lg" type="button">View Favorites</button>
          </div>
        </div>
      </div>
      <div class="ui grid">
        <div 
          class='ui relaxed divided list eight wide column centered' 
          id='cards-display-container' >
        </div>
      </div>
    </div>
    <script data-main="scripts/app" src="scripts/require.js"></script>
  </body>
</html>
