div.bordered {
  border-style: solid;
  border-width: 5px;
}

div.centered-horizontal {
  margin: auto;
}

#cards-display-container {
  margin-top: 5em
  margin-bottom: 5em
}

#alert-banner{
  margin-top: 2em
}

.movie-page-header{
  text-align: center;
}

.movie-card{
  border: 1px solid gray;
  vertical-align: middle;
  min-height: 3em;
  cursor: pointer;
}

.heart-icon{
  margin-top: 0.8em;
}

#favorites {
  text-align: right;
}

a {
  cursor: pointer;
}

.movie-page-header{
  text-align: center;
}
